.formControl {
    margin: 0px 15px 15px 0px;
    background-color: #f9f4f4;
    min-height: 38px;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}

.searchButton {
    margin: 0px 3px auto;
    min-height: 38px;
    border-radius: 8px;
    min-width: 138px;
    border: 1px solid #f28e19;
    background-color: #f28e19;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col {
    float: left;
}

@media only screen and (max-width: 380px) {
    .colS1 {
        width: 8.33%;
    }
    .colS2 {
        width: 16.66%;
    }
    .colS3 {
        width: 25%;
    }
    .colS4 {
        width: 33.33%;
    }
    .colS5 {
        width: 41.66%;
    }
    .colS6 {
        width: 50%;
        height: 50%;
    }
    .colS7 {
        width: 58.33%;
    }
    .colS8 {
        width: 66.66%;
    }
    .colS9 {
        width: 75%;
    }
    .colS10 {
        width: 83.33%;
    }
    .colS11 {
        width: 91.66%;
    }
    .colS12 {
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    .colS1 {
        width: 8.33%;
    }
    .colS2 {
        width: 16.66%;
    }
    .colS3 {
        width: 25%;
    }
    .colS4 {
        width: 33.33%;
    }
    .colS5 {
        width: 41.66%;
    }
    .colS6 {
        width: 50%;
        height: 50%;
    }
    .colS7 {
        width: 58.33%;
    }
    .colS8 {
        width: 66.66%;
    }
    .colS9 {
        width: 75%;
    }
    .colS10 {
        width: 83.33%;
    }
    .colS11 {
        width: 91.66%;
    }
    .colS12 {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .col1 {
        width: 8.33%;
    }
    .col2 {
        width: 16.66%;
    }
    .col3 {
        width: 25%;
    }
    .col4 {
        width: 33.33%;
    }
    .col5 {
        width: 41.66%;
    }
    .col6 {
        width: 50%;
        height: 50%;
    }
    .col7 {
        width: 58.33%;
    }
    .col8 {
        width: 66.66%;
    }
    .col9 {
        width: 75%;
    }
    .col10 {
        width: 83.33%;
    }
    .col11 {
        width: 91.66%;
    }
    .col12 {
        width: 100%;
    }
}
.searchDiv {
    margin: 0% 10% auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1076px) {
    .td:nth-of-type(1):before {
        content: "Device ID #";
    }
    .td:nth-of-type(2):before {
        content: "Name";
    }
    .td:nth-of-type(3):before {
        content: "Action";
    }
    .td:nth-of-type(4):before {
        content: "Date";
    }
    /* tbody tr {*/
    /*    display: block;*/
    /*}*/

    .searchButton {
        margin: 0px 3px 5px 5px;
        min-height: 38px;
        border-radius: 8px;
        min-width: 40px;
        border: 1px solid #f28e19;
        background-color: #f28e19;
        color: #ffffff;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .searchButton .label {
        display: none;
    }
}
